 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('https://assets.nicepagecdn.com/bc38262d/5739532/images/5191400d11025e2cac3499220cb1b94029a05ef603a82ce27b0fa11921cd4358ca8d67c388d0de8c75e3229d09d0161feaefd90dac0cdfef6dda85_1280.jpg');
}

.u-section-1 .u-sheet-1 {
  min-height: 323px;
}

.u-section-1 .u-group-1 {
  min-height: 138px;
  height: auto;
  margin-top: 145px;
  margin-bottom: 40px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 200px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 190px;
    margin-bottom: 42px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 152px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 65px;
    margin-bottom: 0;
    min-height: 87px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 18px;
    margin-right: 4px;
    margin-bottom: -4px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 206px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  width: 493px;
  margin: 39px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 19px auto 39px;
}

.u-section-2 .u-icon-1 {
  vertical-align: 0px;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 46px;
    margin-right: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 247px;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 21px;
    margin-bottom: 44px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 3530px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 621px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 4px 0 0;
}

.u-section-3 .u-text-3 {
  line-height: 1.8;
  font-weight: 100;
  margin: 4px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 621px;
  background-image: url("https://assets.nicepagecdn.com/bc38262d/5739532/images/image6.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 292px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-3 .u-text-4 {
  line-height: 1.8;
  font-weight: 100;
  margin: 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 292px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-text-5 {
  line-height: 1.8;
  font-weight: 100;
  margin: 0 30px;
}

.u-section-3 .u-layout-wrap-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 719px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-3 .u-text-6 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 14px 0 0;
}

.u-section-3 .u-text-7 {
  line-height: 1.8;
  font-weight: 100;
  margin: 35px auto 0 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 621px;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  height: 294px;
  margin-top: 212px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-wrap-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 836px;
}

.u-section-3 .u-container-layout-7 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  height: 616px;
  margin-top: 110px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 836px;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-8 {
  font-size: 3rem;
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-3 .u-text-9 {
  line-height: 1.8;
  font-weight: 100;
  margin: 33px 0 0;
}

.u-section-3 .u-layout-wrap-5 {
  margin-top: 35px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-9 {
  min-height: 205px;
}

.u-section-3 .u-container-layout-9 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  padding: 0 30px;
}

.u-section-3 .u-text-10 {
  font-size: 3rem;
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-3 .u-text-11 {
  line-height: 1.8;
  font-size: 1.25rem;
  font-weight: 100;
  margin: 22px auto 0;
}

.u-section-3 .u-layout-wrap-6 {
  margin-top: 61px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-10 {
  min-height: 719px;
}

.u-section-3 .u-container-layout-10 {
  padding: 0 30px;
}

.u-section-3 .u-text-12 {
  font-size: 3rem;
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-3 .u-text-13 {
  line-height: 1.8;
  font-weight: 100;
  margin: 28px auto 0 0;
}

.u-section-3 .u-layout-cell-11 {
  min-height: 719px;
}

.u-section-3 .u-container-layout-11 {
  padding: 0;
}

.u-section-3 .u-image-4 {
  height: 616px;
  margin-top: 52px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2935px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 512px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 512px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 241px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 241px;
  }

  .u-section-3 .u-text-5 {
    margin-right: -20px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 593px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 512px;
  }

  .u-section-3 .u-image-2 {
    height: 242px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 689px;
  }

  .u-section-3 .u-image-3 {
    height: 508px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 689px;
  }

  .u-section-3 .u-text-8 {
    font-size: 2.25rem;
    width: 248px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 169px;
  }

  .u-section-3 .u-text-10 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 593px;
  }

  .u-section-3 .u-text-12 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 593px;
  }

  .u-section-3 .u-image-4 {
    height: 508px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2104px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 392px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 392px;
  }

  .u-section-3 .u-image-2 {
    height: 185px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 528px;
  }

  .u-section-3 .u-image-3 {
    height: 389px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 454px;
  }

  .u-section-3 .u-image-4 {
    height: 389px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3758px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 290px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-bottom: 54px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 259px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 653px;
  }

  .u-section-3 .u-image-2 {
    height: 308px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 290px;
  }

  .u-section-3 .u-image-3 {
    height: 299px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 324px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 324px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-3 .u-layout-wrap-6 {
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 324px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 290px;
  }

  .u-section-3 .u-image-4 {
    height: 299px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4822px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 29px;
  }

  .u-section-3 .u-image-1 {
    min-height: 370px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 339px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 380px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 315px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 189px;
  }

  .u-section-3 .u-image-2 {
    height: 194px;
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 246px;
  }

  .u-section-3 .u-image-3 {
    height: 188px;
    margin-top: 12px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 633px;
  }

  .u-section-3 .u-layout-wrap-5 {
    margin-top: 32px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 163px;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-wrap-6 {
    margin-top: 29px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 633px;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 179px;
  }

  .u-section-3 .u-image-4 {
    height: 188px;
    margin-top: 13px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1164px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 42px 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 580px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  height: 505px;
  margin-top: 52px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 580px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  font-weight: 100;
  margin: 20px auto 0 0;
}

.u-section-4 .u-layout-wrap-2 {
  margin-top: -1px;
  margin-bottom: 59px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 358px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-3 {
  line-height: 1.8;
  font-weight: 100;
  margin: 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 484px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-text-4 {
  line-height: 1.8;
  font-weight: 100;
  margin: 0 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 478px;
  }

  .u-section-4 .u-image-1 {
    height: 416px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 478px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 295px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 399px;
  }

  .u-section-4 .u-text-4 {
    margin-right: -20px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 43px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 366px;
  }

  .u-section-4 .u-image-1 {
    height: 319px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1474px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 290px;
  }

  .u-section-4 .u-image-1 {
    height: 299px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 324px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-bottom: 54px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 259px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1678px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 195px;
  }

  .u-section-4 .u-image-1 {
    height: 188px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 515px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 6px;
    margin-bottom: 1px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 431px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 483px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 867px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 365px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-5 .u-table-1 {
  margin: 0;
}

.u-block-2761-26 {
  height: 47px;
}

.u-section-5 .u-table-body-1 {
  font-weight: 100;
}

.u-section-5 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-10 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-13 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-16 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-19 {
  font-weight: 700;
}

.u-block-2761-53 {
  height: 47px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 365px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-table-2 {
  width: 550px;
  margin: 30px 0 0 auto;
}

.u-block-2761-64 {
  height: 47px;
}

.u-section-5 .u-table-body-2 {
  font-weight: 100;
}

.u-section-5 .u-table-cell-22 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-25 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-28 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-31 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-34 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-37 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-40 {
  font-weight: 700;
}

.u-block-2761-88 {
  height: 47px;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 55px auto 0;
}

.u-section-5 .u-layout-wrap-2 {
  margin-top: 30px;
  margin-bottom: 39px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 232px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-5 .u-table-3 {
  margin: 0;
}

.u-block-2761-99 {
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: -2px;
}

.u-block-2761-105 {
  height: 47px;
}

.u-section-5 .u-table-body-3 {
  font-weight: 100;
}

.u-section-5 .u-table-cell-43 {
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: -2px;
}

.u-section-5 .u-table-cell-46 {
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: -2px;
}

.u-section-5 .u-table-cell-49 {
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: -2px;
}

.u-section-5 .u-table-cell-52 {
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: -2px;
}

.u-block-2761-132 {
  height: 47px;
}

.u-section-5 .u-image-1 {
  min-height: 232px;
  background-image: url("https://assets.nicepagecdn.com/bc38262d/5739532/images/image10.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 301px;
  }

  .u-section-5 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 301px;
  }

  .u-section-5 .u-table-2 {
    width: 470px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 39px;
  }

  .u-section-5 .u-layout-wrap-2 {
    margin-top: 46px;
    margin-bottom: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 191px;
  }

  .u-section-5 .u-table-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 191px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-table-2 {
    width: 360px;
  }

  .u-section-5 .u-layout-wrap-2 {
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    min-height: 146px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2090px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-table-1 {
    margin-top: 56px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-table-2 {
    margin-top: 419px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 833px;
  }

  .u-section-5 .u-layout-wrap-2 {
    margin-top: -735px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-table-3 {
    margin-top: 56px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 219px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1283px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -21px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 310px;
  }

  .u-section-5 .u-table-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 328px;
  }

  .u-section-5 .u-table-2 {
    width: 320px;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 34px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-2 {
    margin-top: 10px;
    margin-bottom: 35px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 310px;
  }

  .u-section-5 .u-table-3 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 138px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 257px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 37px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 20px auto 45px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    width: 493px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 46px;
    margin-right: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    font-weight: 700;
    margin-top: 32px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 21px;
    margin-bottom: 58px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('https://assets.nicepagecdn.com/bc38262d/5739532/images/5191400d11025e2cac3499220cb1b94029a05ef603a82ce27b0fa11921cd4358ca8d67c388d0de8c75e3229d09d0161feaefd90dac0cdfef6dda85_1280.jpg');
}

.u-section-7 .u-sheet-1 {
  min-height: 140px;
}

.u-section-7 .u-group-1 {
  min-height: 138px;
  height: auto;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 400;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
   .u-section-7 {
    background-position: 50% 50%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 153px;
  }

  .u-section-7 .u-group-1 {
    margin-top: 31px;
    margin-bottom: 31px;
    min-height: 91px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    font-weight: 700;
    margin-top: 0;
    margin-right: 4px;
    font-size: 2.25rem;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 588px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 301px;
  margin: 42px auto 0;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 42px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 432px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-8 .u-table-1 {
  margin-top: 33px;
  margin-bottom: 0;
}

.u-block-b6d2-26 {
  height: 47px;
}

.u-section-8 .u-table-body-1 {
  font-weight: 100;
}

.u-section-8 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-8 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-8 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-8 .u-table-cell-10 {
  font-weight: 700;
}

.u-section-8 .u-table-cell-13 {
  font-weight: 700;
}

.u-section-8 .u-table-cell-16 {
  font-weight: 700;
}

.u-section-8 .u-table-cell-19 {
  font-weight: 700;
}

.u-section-8 .u-table-cell-22 {
  font-weight: 700;
}

.u-block-b6d2-56 {
  height: 47px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 432px;
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

.u-section-8 .u-table-2 {
  width: 532px;
  margin: 33px auto 0;
}

.u-block-b6d2-61 {
  font-weight: 700;
}

.u-block-b6d2-67 {
  height: 47px;
}

.u-section-8 .u-table-body-2 {
  font-weight: 100;
}

.u-section-8 .u-table-cell-25 {
  font-weight: 700;
}

.u-section-8 .u-table-cell-28 {
  font-weight: 700;
}

.u-section-8 .u-table-cell-31 {
  font-weight: 700;
}

.u-section-8 .u-table-cell-34 {
  font-weight: 700;
}

.u-section-8 .u-table-cell-37 {
  font-weight: 700;
}

.u-section-8 .u-table-cell-40 {
  font-weight: 700;
}

.u-section-8 .u-table-cell-43 {
  font-weight: 700;
}

.u-section-8 .u-table-cell-46 {
  font-weight: 700;
}

.u-block-b6d2-97 {
  height: 47px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1118px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 39px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 511px;
    margin-bottom: 45px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 356px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 356px;
  }

  .u-section-8 .u-table-2 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 372px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 478px;
    margin-bottom: 0;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-table-2 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1090px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 544px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 251px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-table-2 {
    margin-top: 462px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-8 .u-text-1 {
    width: 266px;
    margin-top: 43px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 8px;
    margin-bottom: 42px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 382px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-table-1 {
    width: 330px;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 373px;
  }

  .u-section-8 .u-table-2 {
    width: 330px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: -10px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 628px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 23px;
  margin-bottom: 27px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 578px;
}

.u-section-9 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-9 .u-table-1 {
  margin-top: 44px;
  margin-bottom: 0;
}

.u-block-c451-16 {
  font-weight: 700;
}

.u-block-c451-22 {
  height: 47px;
}

.u-section-9 .u-table-body-1 {
  font-weight: 100;
}

.u-section-9 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-9 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-9 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-9 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-9 .u-table-cell-9 {
  font-weight: 700;
}

.u-section-9 .u-table-cell-11 {
  font-weight: 700;
}

.u-section-9 .u-table-cell-13 {
  font-weight: 700;
}

.u-section-9 .u-table-cell-15 {
  font-weight: 700;
}

.u-block-c451-43 {
  height: 47px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 578px;
}

.u-section-9 .u-container-layout-2 {
  padding: 0;
}

.u-section-9 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 22px 33px 0;
}

.u-section-9 .u-table-2 {
  width: 504px;
  margin: 22px auto 0;
}

.u-block-c451-47 {
  font-weight: 700;
}

.u-block-c451-53 {
  height: 47px;
}

.u-section-9 .u-table-body-2 {
  font-weight: 100;
}

.u-section-9 .u-table-cell-17 {
  font-weight: 700;
}

.u-section-9 .u-table-cell-19 {
  font-weight: 700;
}

.u-section-9 .u-table-cell-21 {
  font-weight: 700;
}

.u-section-9 .u-table-cell-23 {
  font-weight: 700;
}

.u-block-c451-66 {
  height: 47px;
}

.u-section-9 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 50px 22px 0 44px;
}

.u-section-9 .u-table-3 {
  width: 504px;
  margin: 22px auto 0;
}

.u-block-c451-70 {
  font-weight: 700;
}

.u-block-c451-76 {
  height: 47px;
}

.u-section-9 .u-table-body-3 {
  font-weight: 100;
}

.u-section-9 .u-table-cell-25 {
  font-weight: 700;
}

.u-section-9 .u-table-cell-27 {
  font-weight: 700;
}

.u-section-9 .u-table-cell-29 {
  font-weight: 700;
}

.u-block-c451-87 {
  height: 47px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 477px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 477px;
  }

  .u-section-9 .u-text-2 {
    margin-top: -42px;
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-9 .u-table-2 {
    width: 470px;
    margin-top: 459px;
  }

  .u-section-9 .u-text-3 {
    margin-top: -444px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-table-3 {
    width: 470px;
    margin-top: 673px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 43px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-text-2 {
    margin-top: -126px;
    margin-right: 105px;
  }

  .u-section-9 .u-table-2 {
    width: 360px;
  }

  .u-section-9 .u-table-3 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1474px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-table-1 {
    margin-top: 480px;
  }

  .u-section-9 .u-text-2 {
    font-size: 2.25rem;
    margin-top: -7px;
  }

  .u-section-9 .u-table-2 {
    margin-top: 276px;
  }

  .u-section-9 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-9 .u-table-3 {
    margin-top: 686px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: 31px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-9 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-9 .u-table-1 {
    width: 330px;
    margin-top: 10px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 495px;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 39px;
    margin-right: auto;
  }

  .u-section-9 .u-table-2 {
    width: 330px;
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-9 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 39px;
  }

  .u-section-9 .u-table-3 {
    width: 330px;
    margin-top: 10px;
    margin-right: 0;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 127px;
}

.u-section-10 .u-text-1 {
  width: 493px;
  font-weight: 400;
  margin: 37px auto;
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    margin-left: 46px;
    margin-right: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 103px;
  }

  .u-section-10 .u-text-1 {
    font-weight: 700;
    width: 247px;
    margin: 32px auto;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 428px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 33px;
  margin-bottom: 0;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 395px;
}

.u-section-11 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-11 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-11 .u-table-1 {
  margin-top: 22px;
  margin-bottom: 0;
}

.u-block-2766-11 {
  font-weight: 700;
}

.u-block-2766-17 {
  height: 47px;
}

.u-section-11 .u-table-body-1 {
  font-weight: 100;
}

.u-section-11 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-11 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-11 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-11 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-11 .u-table-cell-9 {
  font-weight: 700;
}

.u-section-11 .u-table-cell-11 {
  font-weight: 700;
}

.u-block-2766-34 {
  height: 47px;
}

.u-section-11 .u-image-1 {
  min-height: 395px;
  background-image: url("https://assets.nicepagecdn.com/bc38262d/5739532/images/image8.png");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 412px;
  }

  .u-section-11 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-11 .u-image-1 {
    min-height: 326px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 43px;
  }

  .u-section-11 .u-image-1 {
    min-height: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1474px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-11 .u-image-1 {
    min-height: 375px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-top: 9px;
    margin-bottom: 28px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-11 .u-table-1 {
    margin-top: 0;
  }

  .u-section-11 .u-image-1 {
    min-height: 236px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 798px;
}

.u-section-12 .u-layout-wrap-1 {
  margin-top: 54px;
  margin-bottom: 46px;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 698px;
}

.u-section-12 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-12 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-12 .u-table-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-block-172f-16 {
  font-weight: 700;
}

.u-block-172f-22 {
  height: 47px;
}

.u-section-12 .u-table-body-1 {
  font-weight: 100;
}

.u-section-12 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-12 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-12 .u-table-cell-9 {
  font-weight: 700;
}

.u-section-12 .u-table-cell-13 {
  font-weight: 700;
}

.u-section-12 .u-table-cell-17 {
  font-weight: 700;
}

.u-section-12 .u-table-cell-21 {
  font-weight: 700;
}

.u-section-12 .u-table-cell-25 {
  font-weight: 700;
}

.u-section-12 .u-table-cell-29 {
  font-weight: 700;
}

.u-section-12 .u-table-cell-33 {
  font-weight: 700;
}

.u-section-12 .u-table-cell-37 {
  font-weight: 700;
}

.u-section-12 .u-table-cell-41 {
  font-weight: 700;
}

.u-block-172f-41 {
  height: 47px;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 698px;
}

.u-section-12 .u-container-layout-2 {
  padding: 0;
}

.u-section-12 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 22px 22px 0;
}

.u-section-12 .u-table-2 {
  width: 548px;
  margin: 30px 0 0 auto;
}

.u-block-172f-76 {
  font-weight: 700;
}

.u-block-172f-82 {
  height: 47px;
}

.u-section-12 .u-table-body-2 {
  font-weight: 100;
}

.u-section-12 .u-table-cell-45 {
  font-weight: 700;
}

.u-section-12 .u-table-cell-49 {
  font-weight: 700;
}

.u-section-12 .u-table-cell-53 {
  font-weight: 700;
}

.u-section-12 .u-table-cell-57 {
  font-weight: 700;
}

.u-section-12 .u-table-cell-61 {
  font-weight: 700;
}

.u-section-12 .u-table-cell-65 {
  font-weight: 700;
}

.u-block-172f-95 {
  height: 47px;
}

.u-section-12 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 30px 6px 0;
}

.u-section-12 .u-table-3 {
  width: 548px;
  margin: 1px 0 0 auto;
}

.u-block-172f-137 {
  font-weight: 700;
}

.u-block-172f-143 {
  height: 47px;
}

.u-section-12 .u-table-body-3 {
  font-weight: 100;
}

.u-section-12 .u-table-cell-69 {
  font-weight: 700;
}

.u-section-12 .u-table-cell-73 {
  font-weight: 700;
}

.u-section-12 .u-table-cell-77 {
  font-weight: 700;
}

.u-section-12 .u-table-cell-81 {
  font-weight: 700;
}

.u-block-172f-158 {
  height: 47px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 576px;
  }

  .u-section-12 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-12 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-table-2 {
    width: 470px;
    height: 187px;
  }

  .u-section-12 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-table-3 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 43px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-12 .u-table-2 {
    width: 360px;
  }

  .u-section-12 .u-table-3 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1474px;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-12 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-12 .u-text-3 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1278px;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 670px;
  }

  .u-section-12 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-12 .u-table-2 {
    width: 320px;
    margin-top: 0;
  }

  .u-section-12 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 12px;
  }

  .u-section-12 .u-table-3 {
    width: 320px;
    margin-top: 0;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 722px;
}

.u-section-13 .u-layout-wrap-1 {
  margin-top: 25px;
  margin-bottom: 50px;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 647px;
}

.u-section-13 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-13 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-13 .u-table-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-block-7d4d-16 {
  font-weight: 900;
}

.u-block-7d4d-22 {
  height: 47px;
}

.u-section-13 .u-table-body-1 {
  font-weight: 100;
}

.u-section-13 .u-table-cell-1 {
  font-weight: 900;
}

.u-section-13 .u-table-cell-5 {
  font-weight: 900;
}

.u-section-13 .u-table-cell-9 {
  font-weight: 900;
}

.u-section-13 .u-table-cell-13 {
  font-weight: 900;
}

.u-section-13 .u-table-cell-17 {
  font-weight: 900;
}

.u-section-13 .u-table-cell-21 {
  font-weight: 900;
}

.u-section-13 .u-table-cell-25 {
  font-weight: 900;
}

.u-section-13 .u-table-cell-29 {
  font-weight: 900;
}

.u-section-13 .u-table-cell-33 {
  font-weight: 900;
}

.u-section-13 .u-table-cell-37 {
  font-weight: 900;
}

.u-section-13 .u-table-cell-41 {
  font-weight: 900;
}

.u-block-7d4d-41 {
  height: 47px;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 630px;
}

.u-section-13 .u-container-layout-2 {
  padding: 0;
}

.u-section-13 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 22px 22px 0;
}

.u-section-13 .u-table-2 {
  width: 526px;
  margin: 30px auto 0;
}

.u-block-7d4d-76 {
  font-weight: 700;
}

.u-block-7d4d-82 {
  height: 47px;
}

.u-section-13 .u-table-body-2 {
  font-weight: 100;
}

.u-section-13 .u-table-cell-45 {
  font-weight: 700;
}

.u-section-13 .u-table-cell-48 {
  font-weight: 700;
}

.u-section-13 .u-table-cell-51 {
  font-weight: 700;
}

.u-section-13 .u-table-cell-54 {
  font-weight: 700;
}

.u-section-13 .u-table-cell-57 {
  font-weight: 700;
}

.u-section-13 .u-table-cell-60 {
  font-weight: 700;
}

.u-block-7d4d-95 {
  height: 47px;
}

.u-section-13 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 22px 0;
}

.u-section-13 .u-table-3 {
  width: 526px;
  margin: 30px auto 0;
}

.u-block-7d4d-176 {
  font-weight: 700;
}

.u-block-7d4d-182 {
  height: 47px;
}

.u-section-13 .u-table-body-3 {
  font-weight: 100;
}

.u-section-13 .u-table-cell-63 {
  font-weight: 700;
}

.u-section-13 .u-table-cell-66 {
  font-weight: 700;
}

.u-section-13 .u-table-cell-69 {
  font-weight: 700;
}

.u-block-7d4d-206 {
  height: 47px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 533px;
  }

  .u-section-13 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-13 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-table-2 {
    width: 470px;
    height: 187px;
    margin-right: 0;
  }

  .u-section-13 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-table-3 {
    width: 470px;
    height: 274px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 43px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-13 .u-table-2 {
    width: 360px;
  }

  .u-section-13 .u-table-3 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1474px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-13 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-13 .u-table-2 {
    margin-right: auto;
  }

  .u-section-13 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-13 .u-table-3 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1312px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 60px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 575px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 555px;
  }

  .u-section-13 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-13 .u-table-2 {
    width: 320px;
    margin-top: 22px;
  }

  .u-section-13 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 22px;
  }

  .u-section-13 .u-table-3 {
    width: 320px;
    margin-top: 10px;
  }
}.glass-dark {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
}
 
body {
	background-color: #000;
}
.glass-dark {
}